<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!-- Chaîne MySQL basée sur vos valeurs PHP par défaut -->
    <add name="DefaultConnection" connectionString="Server=192.168.56.154;Port=3306;Database=Fulb;Uid=Fulb;Pwd=Fulb;Charset=utf8mb4;SslMode=Preferred;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
</configuration>